<section class="navigation">
  <div><a href="#home">home</a></div>
  <section class="nav-list">
    <div><a href="#page01">page01</a></div>
    <div><a href="#page02">page02</a></div>
    <div><a href="#page03">page03</a></div>
    <div><a href="#page04">page04</a></div>
    <div><a href="#page05">page05</a></div>
  </section>
</section>