<section class="navigation">
  <div class="nav-home"><a href="#home">home</a></div>
  <section class="nav-list">
    <div class="nav-page01"><a href="#page01">page01</a></div>
    <div class="nav-page02"><a href="#page02">page02</a></div>
    <div class="nav-page03"><a href="#page03">page03</a></div>
    <div class="nav-page04"><a href="#page04">page04</a></div>
    <div class="nav-page05"><a href="#page05">page05</a></div>
  </section>
</section>