<main data-ng-app="ngUI">
    
  <section class="home" id="home" data-ng-controller="homeCtrl as home">
     <ul class="home-carousel">
       <li class="{{item.class}} home-animation" 
          data-ng-class="{'active': home.isSelected( '{{item.class}}' )}" 
          data-ng-repeat="item in home.contents">
          <!-- data-ng-if="home.isSelected( '{{item.class}}' )" -->
         <div class="text-items">
           <div class="item-name">{{item.name}}</div>
           <div class="item-description">{{item.description}}</div>
         </div>
         <div class="item-img"><img data-ng-src="{{item.img}}" alt="{{item.name}}"></div>
       </li>
     </ul>
     <button type="button" class="prev" data-ng-click="home.prevItem()">&lt;</button>
     <button type="button" class="next" data-ng-click="home.nextItem()">&gt;</button>
  </section>

  <section class="page01" id="page01" data-ng-controller="peopleCtrl as people">
     <ul class="people-carousel">
       <li class="{{item.class}} people-animation"
          data-ng-class="people.currentClass( '{{item.class}}' )"
          data-ng-repeat="item in people.contents">
         <div class="item-img"><img data-ng-src="{{item.img}}" alt="{{item.name}}"></div>
         <div class="item-description">{{item.description}}</div>
         <div class="item-name">{{item.name}}</div>
         <div class="item-role">{{item.role}}</div>
       </li>
     </ul>
     <button type="button" class="prev" data-ng-click="people.prevItem()">&lt;</button>
     <button type="button" class="next" data-ng-click="people.nextItem()">&gt;</button>
  </section>

  <section class="page02" id="page02" data-ng-controller="listCtrl as list">
    <div class="filter-btns">
      <button type="button" data-ng-click="list.sortItems('all')">all</button>
      <button type="button" data-ng-click="list.sortItems('app')">app</button>
      <button type="button" data-ng-click="list.sortItems('branding')">branding</button>
      <button type="button" data-ng-click="list.sortItems('web')">web</button>
    </div>
    <ul class="filter-list">
      <li class="{{item.category}}" 
        data-ng-class="{ 'selected': list.currentCategory( '{{item.category}}' )}" 
        data-ng-repeat="item in list.contents">
        {{item.name}}
      </li>
    </ul>
  </section>

  <section class="page03" id="page03" >page03</section>
  <section class="page04" id="page04" >page04</section>
  <section class="page05" id="page05" >page05</section>
</main>