<main>
  <section class="home" id="home" >home</section>
  <section class="page01" id="page01" >page01</section>
  <section class="page02" id="page02" >page02</section>
  <section class="page03" id="page03" >page03</section>
  <section class="page04" id="page04" >page04</section>
  <section class="page05" id="page05" >page05</section>
</main>