<section class="scroll-nav">
  <ul>
    <li class="nav-list01"><a href="#page01">page01</a></li>
    <li class="nav-list02"><a href="#page02">page02</a></li>
    <li class="nav-list03"><a href="#page03">page03</a></li>
    <li class="nav-list04"><a href="#page04">page04</a></li>
    <li class="nav-list05"><a href="#page05">page05</a></li>
  </ul>
</section>